@font-face {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../fonts/FuturaPT-light.woff2') format('woff2'), url('../fonts/FuturaPT-Light.woff') format('woff')
}

@font-face {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/FuturaPT-Medium.woff') format('woff2'), url('../fonts/FuturaPT-Medium.woff') format('woff')
}

@font-face {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/FuturaPT-Bold.woff2') format('woff2'), url('../fonts/FuturaPT-Bold.woff') format('woff')
}

:root {
    --main-text-color: #333;
    --main-bg-color: #333;
    --ellow-hover-color: #ffbd54;
    --ellow-bg-color: #ffbd54;
    --white-bg-color: #ffff;
    --main-font-size: 18px;
    --main-font-weight: 400
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

img {
    display: block;
    height: auto
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'FuturaPT', 'Arial', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: var(--main-line-height);
    background-color: #f9f9f9;
    overflow-x: hidden
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none
}

h1,
h2,
h3,
p {
    margin: 0
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.container {
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px
}

.site-main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-image: url(../images/bg.png);
    background-repeat: repeat
}

.site-header__top {
    padding: 12px 0 9px
}

.top__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0
}

.top__item {
    margin-right: 120px
}

.top__item:nth-child(3) {
    position: relative
}

.top__item:nth-child(3):before {
    content: "";
    width: 14px;
    height: 14px;
    top: 4px;
    left: -21px;
    background-image: url(../images/date.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.top__item:last-child {
    margin-right: 0
}

.top__time {
    margin-right: 17px
}

.top__time:last-child {
    margin-right: 0
}

.address__link {
    text-decoration: none;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--main-text-color);
    position: relative;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.address__link:before {
    content: "";
    width: 14px;
    height: 14px;
    top: 2px;
    left: -21px;
    background-image: url(../images/home.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.address__link:hover {
    color: var(--ellow-hover-color)
}

.address__link:active {
    opacity: .6
}

.phone__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.phone__list:before {
    content: "";
    width: 14px;
    height: 14px;
    top: 4px;
    left: -21px;
    background-image: url(../images/call.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.phone__item {
    margin-right: 22px
}

.phone__item:nth-child(2) {
    position: relative
}

.phone__item:nth-child(2):before {
    content: "";
    width: 4px;
    height: 4px;
    top: 8px;
    left: -12px;
    background-color: #ffbd54;
    border-radius: 50%;
    position: absolute
}

.phone__item:nth-child(2):after {
    content: "";
    width: 4px;
    height: 4px;
    top: 8px;
    right: -12px;
    background-color: #ffbd54;
    border-radius: 50%;
    position: absolute
}

.phone__item:last-child {
    margin-right: 0
}

.phone__link {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-text-color);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.phone__link:hover {
    color: var(--ellow-hover-color)
}

.phone__link:active {
    opacity: .6
}

.site-header__bottom {
    padding: 20px 0;
    background-color: var(--white-bg-color)
}

.down__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative
}

.down__img {
    position: absolute;
    top: -37px;
    left: -30px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.down__img:hover {
    opacity: .8
}

.down__img:active {
    opacity: .6
}

.down__nav {
    margin-right: 195px
}

.menu__list {
    width: 710px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.menu__item {
    margin-right: 55px
}

.menu__item:before {
    content: "";
    width: 15px;
    height: 15px;
    top: 3px;
    left: -26px;
    background-image: url(../images/fish.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.menu__item:last-child {
    margin-right: 0
}

.menu__link {
    position: relative;
    z-index: 1;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border-bottom: 3px solid transparent;
    color: var(--main-text-color);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.menu__link:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #f4ffad));
    background: -o-linear-gradient(transparent 50%, #f4ffad 50%);
    background: linear-gradient(transparent 50%, #f4ffad 50%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    content: ""
}

.menu__link:hover:after {
    height: 12px
}

.menu__link:active {
    opacity: .6
}

.down__link {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: var(--main-text-color);
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    border-bottom: 3px solid transparent;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer
}

.down__link:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #f4ffad));
    background: -o-linear-gradient(transparent 50%, #f4ffad 50%);
    background: linear-gradient(transparent 50%, #f4ffad 50%)
}

.down__link:active {
    opacity: .6
}

.down__link:before {
    content: "";
    width: 23px;
    height: 21px;
    top: 0;
    left: -28px;
    background-image: url(../images/paw.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.hero {
    padding: 153px 0 311px;
    background-image: url(../images/hero-start-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% - 537px) calc(50% - 170px);
    overflow: hidden
}

.hero__info {
    width: 608px;
    margin-left: auto;
    position: relative
}

.hero__info:after {
    content: "";
    width: 319px;
    height: 430px;
    top: 170px;
    right: -190px;
    background-image: url(../images/hero-end-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.hero__title {
    margin-bottom: 29px;
    font-family: 'FuturaPT';
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-text-color)
}

.title__color {
    color: #78c0de
}

.hero__text {
    width: 495px;
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    margin-bottom: 38px
}

.hero__link {
    display: inline-block;
    font-family: 'FuturaPT';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--white-bg-color);
    padding: 15px 48px;
    background-color: #333;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.hero__link:hover {
    color: var(--main-text-color);
    background-color: var(--ellow-bg-color)
}

.hero__link:active {
    opacity: .6
}

.blockquote {
    padding-bottom: 190px
}

.blockquote__info {
    width: 753px;
    margin: 0 auto;
    padding: 43px 0 35px;
    margin-bottom: 35px;
    position: relative
}

.blockquote__info:before {
    content: "";
    width: 50px;
    height: 50px;
    top: 17px;
    left: -80px;
    background-image: url(../images/leftquote.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.blockquote__info:after {
    content: "";
    width: 50px;
    height: 50px;
    top: 80px;
    right: -80px;
    background-image: url(../images/rightquote.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.blockquote__text {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
    margin: 0;
    position: relative
}

.blockquote__text:before {
    content: "";
    width: 140px;
    height: 1px;
    top: -40px;
    left: 280px;
    background-image: url(../images/icons/blog-line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}

.blockquote__text:after {
    content: "";
    width: 140px;
    height: 1px;
    bottom: -40px;
    left: 280px;
    background-image: url(../images/icons/blog-line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}

.blockquote__title {
    text-align: center;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333
}

.services {
    padding-bottom: 235px
}

.services__title {
    text-align: center;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 80px;
    color: var(--main-text-color)
}

.services__top {
    width: 1225px;
    margin: 0 auto
}

.our-services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: hidden
}

.our-services__item {
    width: 193px;
    min-width: 193px;
    height: 201px;
    padding: 30px 33px 28px 34px;
    background-color: var(--white-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    margin-right: 13px;
    margin-bottom: 14px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.our-services__item:hover {
    opacity: .8
}

.our-services__item:active {
    opacity: .6
}

.our-services__item--one {
    position: relative;
    margin-bottom: 0;
    border: none;
    padding-top: 178px;
    padding-bottom: 39px
}

.our-services__item--one:before {
    content: "";
    display: inline-block;
    top: 32px;
    left: 75px;
    width: 54px;
    height: 78px;
    background-image: url(../images/doctor.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.our-services__item--two {
    position: relative
}

.our-services__item--two:before {
    content: "";
    display: inline-block;
    top: 32px;
    left: 48px;
    width: 62px;
    height: 77px;
    background-image: url(../images/womandog.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.our-services__item--thri {
    position: relative
}

.our-services__item--thri:before {
    content: "";
    display: inline-block;
    top: 32px;
    left: 60px;
    width: 72px;
    height: 77px;
    background-image: url(../images/dog.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.our-services__item--four {
    position: relative;
    padding-bottom: 39px
}

.our-services__item--four:before {
    content: "";
    display: inline-block;
    top: 40px;
    left: 53px;
    width: 75px;
    height: 75px;
    background-image: url(../images/dogskin.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.our-services__item--five {
    position: relative
}

.our-services__item--five:before {
    content: "";
    display: inline-block;
    top: 33px;
    left: 60px;
    width: 78px;
    height: 78px;
    background-image: url(../images/microscop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.our-services__item--six {
    position: relative;
    padding-bottom: 39px
}

.our-services__item--six:before {
    content: "";
    display: inline-block;
    top: 38px;
    left: 60px;
    width: 76px;
    height: 76px;
    background-image: url(../images/dogandpuppy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.our-services__title {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: var(--main-text-color)
}

.our-services__button {
    border: none;
    width: 38px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 30px
}

.our-services__button:hover {
    background-color: var(--white-bg-color)
}

.our-services__button:active {
    opacity: .6
}

.our-services__img {
    width: 15px;
    height: 25px
}

.services__top {
    position: relative
}

.our-services__button--left {
    position: absolute;
    top: 85px;
    left: -50px
}

.our-services__button--right {
    position: absolute;
    top: 85px;
    right: -80px
}

.services__down {
    width: 100%;
    max-width: 1225px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 41px 35px;
    background-color: var(--white-bg-color)
}

.inspection__picture {
    margin-right: 65px
}

.inspection__info {
    width: 100%;
    max-width: 492px
}

.reception__title {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--main-text-color);
    margin-bottom: 18px
}

.reception__text {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 9px
}

.reception__text--margin {
    margin-bottom: 34px
}

.reception__link {
    display: inline-block;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 15px 35px 15px 63px;
    color: var(--white-bg-color);
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.reception__link--one {
    background-color: var(--ellow-bg-color);
    margin-right: 21px;
    position: relative
}

.reception__link--one:before {
    content: "";
    width: 21px;
    height: 21px;
    top: 15px;
    left: 30px;
    background-image: url(../images/money.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.reception__link--one:hover {
    color: var(--white-bg-color);
    background: rgba(255, 189, 84, .8)
}

.reception__link--one:active {
    opacity: .6
}

.reception__link--two {
    background-color: var(--main-bg-color);
    position: relative
}

.reception__link--two:before {
    content: "";
    width: 21px;
    height: 21px;
    top: 15px;
    left: 30px;
    background-image: url(../images/document.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.reception__link--two:hover {
    color: var(--white-bg-color);
    background: rgba(51, 51, 51, .8)
}

.reception__link--two:active {
    opacity: .6
}

.events {
    padding: 90px 0 88px;
    background-image: url(../images/3ddogbg.svg);
    background-repeat: no-repeat;
    background-size: cover
}

.events__info {
    margin-left: 250px;
    position: relative
}

.events__info:after {
    content: "";
    width: 613px;
    height: 481px;
    top: -218px;
    right: -150px;
    background-image: url(../images/3ddog.png);
    background-repeat: no-repeat;
    position: absolute
}

.events__title {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white-bg-color);
    margin-bottom: 32px
}

.events__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.events__input {
    width: 355px;
    padding: 18px 22px 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 21px;
    border: 2px solid transparent;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.events__input::-webkit-input-placeholder {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #949494
}

.events__input::-moz-placeholder {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #949494
}

.events__input:-ms-input-placeholder {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #949494
}

.events__input::-ms-input-placeholder {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #949494
}

.events__input::placeholder {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #949494
}

.events__input:focus {
    border: 2px solid transparent
}

.events__input:not(:focus):invalid:not(:-moz-placeholder-shown) {
    border: 2px solid red;
    animation-name: error;
    animation-duration: .3s
}

.events__input:not(:focus):invalid:not(:-ms-input-placeholder) {
    border: 2px solid red;
    animation-name: error;
    animation-duration: .3s
}

.events__input:not(:focus):invalid:not(:placeholder-shown) {
    border: 2px solid red;
    -webkit-animation-name: error;
    animation-name: error;
    -webkit-animation-duration: .3s;
    animation-duration: .3s
}

.events__input:not(focus):valid:not(:-moz-placeholder-shown) {
    border: 2px solid green
}

.events__input:not(focus):valid:not(:-ms-input-placeholder) {
    border: 2px solid green
}

.events__input:not(focus):valid:not(:placeholder-shown) {
    border: 2px solid green
}

@-webkit-keyframes error {
    50% {
        -webkit-transform: translate(-50px) translateX(50px) translateX(-50px);
        transform: translate(-50px) translateX(50px) translateX(-50px)
    }
    100% {
        -webkit-transform: translateX(10px) translateX(50px) translateX(-50px);
        transform: translateX(10px) translateX(50px) translateX(-50px)
    }
}

@keyframes error {
    50% {
        -webkit-transform: translate(-50px) translateX(50px) translateX(-50px);
        transform: translate(-50px) translateX(50px) translateX(-50px)
    }
    100% {
        -webkit-transform: translateX(10px) translateX(50px) translateX(-50px);
        transform: translateX(10px) translateX(50px) translateX(-50px)
    }
}

.events__button {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--white-bg-color);
    border: 3px solid transparent;
    padding: 15px 52px;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.events__button:hover {
    color: var(--main-text-color);
    background-color: var(--ellow-hover-color)
}

.events__button:focus {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease
}

.article {
    padding: 150px 0 260px
}

.article__title {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 80px
}

.article__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.article__item {
    width: 307px;
    background-color: var(--white-bg-color);
    border: 1px solid #e4e4e2;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 30px;
    overflow: hidden;
    margin-bottom: 60px
}

.article__item:nth-child(4) {
    margin-right: 0
}

.article__item:nth-child(5),
.article__item:nth-child(6),
.article__item:nth-child(7),
.article__item:nth-child(8) {
    margin-bottom: 0
}

.article__item:last-child {
    margin-right: 0
}

.article__item:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, .15) 1.95px 1.95px 2.6px
}

.article__info {
    padding: 22px 22px 35px 30px
}

.hospital__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2px
}

.hospital__inner {
    width: 190px
}

.wrap__list {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.wrap__item {
    margin-right: 7px
}

.wrap__item:last-child {
    margin-right: 0
}

.wrap__time {
    display: block;
    margin-left: auto;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494
}

.hospital__title {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000;
    margin-bottom: 10px
}

.hospital__text {
    font-family: 'FuturPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 37px
}

.wrap__link {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #3d9cea
}

.hospital__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.box__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    position: relative;
    margin-top: auto;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.box__link:before {
    content: "";
    width: 23px;
    height: 21px;
    background-image: url(../images/paw.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 5px
}

.box__link:hover {
    color: var(--ellow-hover-color)
}

.box__link:active {
    opacity: .7
}

.article__img {
    width: 305px;
    height: 180px
}

.article__item--active {
    width: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.article__item--active>.article__info>.hospital__wrap {
    margin-bottom: 32px
}

.article__item--active>.article__picture>.article__img {
    width: 305px;
    height: 100%
}

.article__item--active>.article__info>.hospital__wrap>.wrap__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.article__item--active>.article__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.article__item--active>.article__info {
    padding-top: 43px
}

.article__item--active>.article__info>.hospital__wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.article__item--active>.article__info>.hospital__inner {
    margin-bottom: 15px
}

.article__item--active>.article__info>.hospital__text {
    margin-bottom: auto
}

.connection {
    margin-bottom: 240px;
    background-image: url(../images/map-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.connection__inner {
    width: 1520px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.connection__left {
    width: 462px;
    height: 652px;
    margin-right: 166px
}

.noon {
    width: 462px;
    height: 735px;
    margin-right: 166px
}

.connection__map {
    margin-top: 3px;
    width: 462px;
    height: 652px;
    margin-right: auto
}

.connection__right {
    width: 375px;
    margin-top: 50px;
    padding: 62px 0 74px;
    position: relative
}

.connection__right:after {
    content: "";
    width: 447px;
    height: 447px;
    top: 147px;
    right: -509px;
    background-image: url(../images/feedbackfish.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.form__title {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 14px;
    color: var(--white-bg-color)
}

.form__text {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 29px
}

.form__input {
    width: 375px;
    padding: 16px 30px 13px 22px;
    margin-bottom: 14px;
    outline: none;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color)
}

.form__input::-webkit-input-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    border: 2px solid transparent
}

.form__input::-moz-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    border: 2px solid transparent
}

.form__input:-ms-input-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    border: 2px solid transparent
}

.form__input::-ms-input-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    border: 2px solid transparent
}

.form__input::placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    border: 2px solid transparent
}

.form__input:focus {
    border-color: #ffbd54
}

.form__input:not(:focus):invalid:not(:-moz-placeholder-shown) {
    border: 3px solid red;
    color: #dc4d41;
    animation-name: error;
    animation-duration: .3s
}

.form__input:not(:focus):invalid:not(:-ms-input-placeholder) {
    border: 3px solid red;
    color: #dc4d41;
    animation-name: error;
    animation-duration: .3s
}

.form__input:not(:focus):invalid:not(:placeholder-shown) {
    border: 3px solid red;
    color: #dc4d41;
    -webkit-animation-name: error;
    animation-name: error;
    -webkit-animation-duration: .3s;
    animation-duration: .3s
}

@keyframes error {
    50% {
        -webkit-transform: translate(-50px) translateX(50px) translateX(-50px);
        transform: translate(-50px) translateX(50px) translateX(-50px)
    }
    100% {
        -webkit-transform: translateX(10px) translateX(50px) translateX(-50px);
        transform: translateX(10px) translateX(50px) translateX(-50px)
    }
}

.form__input:not(:focus):valid:not(:-moz-placeholder-shown) {
    border: 3px solid green;
    color: green
}

.form__input:not(:focus):valid:not(:-ms-input-placeholder) {
    border: 3px solid green;
    color: green
}

.form__input:not(:focus):valid:not(:placeholder-shown) {
    border: 3px solid green;
    color: green
}

.form__texterea {
    width: 375px;
    padding: 17px 22px 20px;
    outline: none;
    resize: none;
    margin-bottom: 30px;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color)
}

.form__texterea:focus {
    border-color: #ffbd54
}

.form__texterea:not(:-moz-placeholder-shown):not(:focus):invalid {
    border-color: #dc4d41;
    color: #dc4d41
}

.form__texterea:not(:-ms-input-placeholder):not(:focus):invalid {
    border-color: #dc4d41;
    color: #dc4d41
}

.form__texterea:not(:placeholder-shown):not(:focus):invalid {
    border-color: #dc4d41;
    color: #dc4d41
}

.form__texterea::-webkit-input-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #dbdbdb
}

.form__texterea::-moz-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #dbdbdb
}

.form__texterea:-ms-input-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #dbdbdb
}

.form__texterea::-ms-input-placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #dbdbdb
}

.form__texterea::placeholder {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #dbdbdb
}

.form__button {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--white-bg-color);
    padding: 15px 50px;
    background-color: #ffbd54;
    border: none;
    border-radius: 3px
}

.form__button:hover {
    opacity: .8
}

.form__button:active {
    opacity: .6
}

.site-footer {
    padding: 54px 0 23px;
    background-color: #f3f3f3
}

.site-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 28px
}

.site-footer__img {
    display: block;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.site-footer__img:hover {
    opacity: .8
}

.site-footer__img:active {
    opacity: .6
}

.over__item {
    margin-bottom: 14px
}

.over__link {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.over__link:hover {
    color: var(--ellow-hover-color)
}

.over__link:active {
    color: #333333b3
}

.data__list {
    position: relative
}

.data__list:before {
    content: "";
    width: 16px;
    height: 16px;
    top: 3px;
    left: -25px;
    background-image: url(../images/date.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.data__item {
    margin-bottom: 3px
}

.location__address {
    width: 157px;
    position: relative;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--main-text-color);
    position: relative
}

.location__address:before {
    content: "";
    width: 16px;
    height: 16px;
    top: 3px;
    left: -25px;
    background-image: url(../images/home.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.tel__list {
    position: relative
}

.tel__list:before {
    content: "";
    width: 16px;
    height: 16px;
    top: 3px;
    left: -25px;
    background-image: url(../images/call.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute
}

.tel__item {
    margin-bottom: 4px
}

.tel__item:last-child {
    margin-bottom: 0
}

.tel__link {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: var(--main-text-color);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.tel__link:hover {
    color: var(--ellow-hover-color)
}

.tel__link:active {
    color: #333333b3
}

.site-footer__and {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    color: #5c5c5c
}